.custom-pagination > ul {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.custom-pagination > ul > li {
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 10px !important;
  width: 40px;
  height: 40px;
  border: 2px solid #ac0700;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 15px;
}

.bg-active-page {
  color: #fff !important;
  background-color: #ac0700 !important;
}
